﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.NuevoAsesorConocimientoModel
@{
    ViewBag.Title = "New";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Conocimiento para: @Model.NombreConocimiento</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("NewConocimiento", "Asesor", null,
                FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDAsesor)
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Conocimientos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <select name="IDConocimiento" class="form-control col-md-2">
                            @foreach (var conocimiento in Model.Conocimientos)
                            {
                                <option value="@conocimiento.ID">@conocimiento.Nombre / @conocimiento.Demanda</option>
                            }
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="~/Conocimiento/" class="btn btn-primary">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
      $(document).ready(function () {
          $('#myForm').validator()
      });

    </script>

