﻿@model EscuelaNet.Presentacion.Proyectos.Web.Models.NuevaEtapaTecnologiaModel

@{
    ViewBag.Title = "Delete";
}


<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Borrar Tecnologia @Model.NombreTecnologia</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDLinea)
                @Html.HiddenFor(model => model.IDProy)
                @Html.HiddenFor(model => model.IDEtapa)
                @Html.HiddenFor(model => model.IDTecno)
                <div class="box-body">
                    <p>
                        ¿Tecnologia a Borrar: "@Model.NombreTecnologia"?
                    </p>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="/Etapas/Tecnologias/?idEtapa=@Model.IDEtapa" class="btn btn-primary">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
