﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.NuevaCategoriaModel
@{
    ViewBag.Title = "New";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nueva Categoria  </h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("New", "Categorias", null,
                FormMethod.Post, new { role = "form", data_toggle = "validor",
                    @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el nombre de la Categoria", data_minlength = "5" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar la descripcion de la Categoria", data_minlength = "5" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "help-block with-errors" })
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="/Categorias/Index" title="Cancelar" type="button" class="btn btn-danger">Cancelar</a>


                </div>
            }
        </div>
        <!-- /.box -->
    </div>
</div>

<div>
    @Html.ActionLink("Volver Atrás", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
<script>
    $(document).ready(function () {
        $('myform').validator()
    })
</script>