﻿@model EscuelaNet.Presentacion.Capacitaciones.Web.Models.InstructorIndexModel

@{
    ViewBag.Title = "Index";
    var x = 1;
    for (var i = 10; i > 0; i--)
    {
        x *= i;
    }
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Instructores : </h3>
                <label class="text-success">@TempData["success"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var linea in Model.Instructores)
                        {
                            <tr>
                                <td>@Model.Instructores.IndexOf(linea)</td>
                                <td>@linea.Nombre</td>
                                <td>
                                    <a href="/Instructor/edit/@Model.Instructores.IndexOf(linea)" title="Editar" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                                    </a>
                                    <a href="/Instructor/delete/@Model.Instructores.IndexOf(linea)" title="borrar" class="btn btn-toolbar">
                                        <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                                    </a>
                                </td>
                            </tr>

                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="/instructor/new" title="Nuevo" class="btn btn-toolbar">
                                    <label class="label bg-gray"><i class="fa fa-plus"></i> Nuevo</label>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}
