﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.NuevoClienteModel

@{
    ViewBag.Title = "New";
}

    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nuevo Cliente</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("New", "Clientes", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator" , @id="myform"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" , required="required", data_error="Complete el campo Razon Social"} })
                            @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @class = "form-control" , required="required" , data_error="Ingrese un Email valido"} })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EnumDropDownListFor(model => model.Categoria, htmlAttributes: new { @class = "form-control col-md-2" })
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="~/clientes/" class="btn btn-primary" >Cancelar</a>
                    </div>
                }

            </div>
            <!-- /.box -->
        </div>

    </div>

@section Scripts {
  <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
  <script>
      $(document).ready(function () {
          $('#myForm').validator()
      });
     
  </script>

}
