﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.NuevoProgramadorModel

@{
    ViewBag.Title = "New";
}
@section head {
    <link href="~/lib/eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box" style="border-color:purple;">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Programador</h3>
            </div>
            <div class="box-header with-border">
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("New", "Programadores", null,
       FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "FormProgramador" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el nombre del programador.", data_minlength = "4" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el apellido del programador.", data_minlength = "5" } })
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Legajo, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Legajo, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el legajo del programador.", data_minlength = "5" } })
                        @Html.ValidationMessageFor(model => model.Legajo, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Dni, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el DNI del programador.", data_minlength = "5" } })
                        @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Rol, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Rol, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el rol del programador.", data_minlength = "10" } })
                        @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="/Programadores/Index" title="Cancelar" class="btn btn-danger" type="button">Cancelar</a>
                </div>
            }


        </div>
                <!-- /.box -->
            </div>

</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
        $(document).ready(function () {
            $('#FormProgramador').validator()
        });
    </script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/moment.js/locale/es.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $('#FechaNacimiento').datetimepicker({
                locale: 'es',
                format: 'L'
            });
        });
    </script>
}