﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.DireccionesIndexModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-10">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Titulo</h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Domicilio</th>
                            <th>Localidad</th>
                            <th>Provincia</th>
                            <th>Pais</th>                            
                            <th>Acciones</th>
                        </tr>
                        @foreach (var direccion in Model.Direcciones)
                        {
                    <tr>
                        <td>@direccion.ID</td>
                        <td>@direccion.Domicilio</td>
                        <td>@direccion.Localidad</td>
                        <td>@direccion.Provincia</td>
                        <td>@direccion.Pais</td>                        
                        
                        
                        <td>
                            <a href="/Direcciones/edit/@direccion.ID" title="Editar" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                            </a>
                            <a href="/Direcciones/delete/@direccion.ID" title="Borrar" class="btn btn-toolbar">
                                <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                            </a>
                        </td>
                    </tr>

                        }
                        <tr>
                            <td colspan="9">
                                <a href="~/Direcciones/new/@Model.IdUnidad" title="Nuevo" class="btn btn-primary">
                                     Nuevo
                                </a>
                            </td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

<div>
    @Html.ActionLink("Volver a Unidad", "../Unidades/Index/"+Model.IdCliente)
</div>

@section Scripts{
    <script>
    </script>
}


