﻿@model EscuelaNet.Presentacion.Capacitacion.Web.Models.NuevoCapacitacionModel

@{
    ViewBag.Title = "New";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-8">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Crear Capacitacion</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("New", "Capacitaciones", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(model => model.Lugares, htmlAttributes: new { @class = "control-label col-md-2" })
                <select name="IDLugar" class="form-control col-md-2">
                    @foreach (var lugar in Model.Lugares)
                    {
                        <option value="@lugar.Id">Calle: @lugar.Calle Numero: @lugar.Numero Depto @lugar.Depto Piso @lugar.Piso</option>
                    }
                </select>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Duracion, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Duracion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Duracion, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Maximo, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Maximo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Maximo, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Minimo, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Minimo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Minimo, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el Campo" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                <div class="help-block with-errors"></div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Inicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">

                    @Html.EditorFor(model => model.Inicio, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo" } })
                </div>
            </div>
            <br /><br /><br />
            <div class="form-group">
                @Html.LabelFor(model => model.Fin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">

                    @Html.EditorFor(model => model.Fin, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el campo" } })
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EnumDropDownListFor(model => model.Estado, htmlAttributes: new { @class = "form-control col-md-2" })
            </div>



        </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="~/capacitaciones/" class="btn btn-primary">Cancelar</a>
                </div>
            }
        </div>
        <!-- /.box -->
    </div>

</div>


@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
        $(document).ready(function () {
            $('#myForm').validator()
        });

    </script>

    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/lib/moment.js/locale/es.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            $('#Fin').datetimepicker({
                locale: 'es',
                format: 'L'
            });
        });
        $(function () {
            $('#Inicio').datetimepicker({
                locale: 'es',
                format: 'L'
            });
        });
    </script>

}

